* {
    margin: 0;
    padding: 0;
    font-family: Handjet;
}
body {
    text-align: center;
    color: rgb(255, 232, 103);
    background-image: url(https://images.unsplash.com/photo-1688431700076-d0d4217aa0fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}
.str {
    max-width: 800px;
    margin: 50px auto;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}

.str .article-1 {
    background: rgb(122, 120, 120);
    color: rgb(0, 157, 255);
}
